<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>BetterNotes</name>
        <version>0.1.0</version>
        <author>kindle-tools</author>
        <id>BetterNotes</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
